:root {
    --black: #000;
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;



}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.99vh;
    margin-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 96.875%;
    background: #FF002E;
    align-items: flex-start;
    justify-content: center;
    max-height: 400px;
    height: 29.31vh;

}

.header-title {
    margin-left: 143px;
    font-size: 64px;
    color: var(--black);
}

.buttons {
    margin-top: 38px;
    display: flex;
    margin-left: 143px;
    gap: 50px;


}

.button {
    width: 177px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn-black {
    background: #000D10;
    color: #E7E7E7;
}

.btn-white {
    background: white;
    color: var(--black);
}

.sectionbc {
    margin-top: 3.09vh;
    display: inline-flex;
    width: 96.875%;
    justify-content: center;
    align-items: center;

}

.b {
    display: flex;
    width: 50%;
    border: 1px solid red;
    height: 31.05vh;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
    font-size: 64px;
    color: var(--black);

}

.b-main {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    background-color: #FFD600;

}

.b-bottom {
    display: flex;
    width: 100%;
    height: 50%;
    gap: 20px;

}

.b-item {
    display: flex;
    flex: 1;
    background-color: #FFD600;
    justify-content: center;
    align-items: center;
}


.c {
    display: flex;
    width: 50%;
    border: 1px solid red;
    height: 31.1vh;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    background-color: #00FF94;
    color: var(--black);



}

.d {
    margin-top: 38px;
    display: flex;
    width: 96.875%;
    border: 1px solid red;
    max-height: 400px;
    height: 29.31vh;
    font-size: 96px;
    justify-content: center;
    align-items: center;
    background: #0FD4FF;
    color: var(--black);




}